@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* resets */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #ffffff;
    --secondary-text-color: #222222;
    --tertiary-text-color: #0d6f81;
    --simple-text-color: #606161;
    --accent-color: #006f80;
    --accent-color-dark: #003740;
    --padding-inline-section: 30px;
}

body {
    font-family: 'Poppins', sans-serif;
   
    
}





p {
    font-family: 'Montserrat', sans-serif;
    
    color: var(--simple-text-color);
    line-height: 1.8rem;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
}

/* utility classes */

.small-bold-text {
    font-size: 1rem;
    font-weight: 700;
}

.container {
    width: 100%;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
    overflow: hidden;
}

.flex {
    display: flex;
    align-items: center;
}

.hover-link {
    color: var(--primary-text-color);
    transition: 0.2s ease-out;
}

.hover-link:hover {
    color: var(--accent-color);
}

.primary-button {
  align-items: center;
  justify-content: center;
  width: 95px;
  height: 40; 
  border-radius: 20px;
  border: 0.5px solid;
  font-size: 15px;
   
  font-weight: 500;
  color: white !important;
  background: transparent;
    padding: 10px 20px;
    transition: 0.2s ease-out;
    text-align: center;
}

/* .primary-button:hover {
    background-color: var(--accent-color-dark);
}

.secondary-button {
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 700;
    color: var(--primary-text-color) !important;
    padding: 12px 24px;
    transition: 0.2s ease-out;
} */

.secondary-button:hover {
    border-color: var(--accent-color);
    color: var(--accent-color) !important;
}

/* Navbar */

/* styles.css */

.navbar {
  top: 0;
  z-index: 1;
  background-color: var(--accent-color-dark);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 100%;
  position: sticky;
}

.nav-left img {
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 20px;
  font-size: 15px;
  cursor: pointer;
  color: white;
}

.nav-button {
  display: flex;
  align-items: center;
}

.nav-login,
.nav-signup{
  background-color: var(--accent-color-dark);
  color: white;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 20px;
}

.profile-button {
  background-color: var(--accent-color-dark);
  padding: 8px 10px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  border-radius: 25px;
  border: 1px solid white;
  gap: 8px;
}

/* .profile-button img {
  border-radius: 50%;
  margin-right: 10px;
} */

.profilepic img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 20px;
  border-radius: 50px;
  cursor: pointer;
  margin-left: 10px;
}


.menu-button {
  color: #ffffff;
}

/* profile-dropdown */

/* .menu-trigger img{
  position: absolute;
  top: 20px;
  right: 20px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  background-color: #fff;
} */

.dropdown-menu{
  position: absolute;
  top: 64px;
  right: 25px;
  background-color: var(--primary-text-color);
  border-radius: 20px;
  padding: 5px 10px;
  width: 185px;
  color: #000000;
  border-radius: 1px solid black;
}

/* .dropdown-menu::before{
  content: '';
  position: absolute;
  top: -5px;
  right: 20px;
  height: 20px;
  width: 20px;
  background: var(--accent-color-dark);
  transform: rotate(45deg);
} */

.dropdown-menu.active{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease;
}

.dropdown-menu.inactive{
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
}




.dropdown-menu ul li{
  padding: 5px  0;
  /* border-top: 1px solid rgba(0, 0, 0, 0.05); */
}

.dropdown-menu ul li:hover a{
  color: var(--accent-color);
  cursor: pointer;
}

.dropdown-menu ul li:hover img{
  opacity: 1;
  cursor: pointer;
}

.dropdownItem{
  display: flex;
  margin: 10px auto;
}

.dropdownItem img{
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition: var(--speed);
}

.dropdownItem a{
  max-width: 100px;
  margin-left: 10px;
  transition: var(--speed);
  color: black;
}

/* .dropitem-logout-button{
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: small; 
  font-weight: medium; 
  color: #1a202c; 
} */

.Logout-button{
  border: none;
  background-color: white;
}

.Logout-button a{
  max-width: 100px;
  margin-left: 10px;
  transition: var(--speed);
  font-size: medium; 
  
}


/* logout-modal */
/* styles.css */

/* c modol */
.your-modal-overlay {
  position: fixed;
  inset: 0;
  z-index: 1000;
  margin-top: 0;
  display: grid;
  place-items: center;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(4px); 
}

.your-modal-content {
  width: 11/12;
  max-width: 350px;
  border-radius: 30px; 
  border: 1px solid #1f2937;
  background-color: var(--accent-color-dark); 
  padding: 1.5rem; 
}

.your-modal-title {
  font-size: 1.5rem; /* Equivalent to text-2xl in Tailwind */
  font-weight: 600; /* Equivalent to font-semibold in Tailwind */
  color: #dee3ea; /* Equivalent to text-richblack-5 in Tailwind */
}

.your-modal-description {
  margin-top: 0.75rem; /* Equivalent to mt-3 in Tailwind */
  margin-bottom: 1.25rem; /* Equivalent to mb-5 in Tailwind */
  line-height: 1.5rem; /* Equivalent to leading-6 in Tailwind */
  color: #c1ccd8; /* Equivalent to text-richblack-200 in Tailwind */
}

.your-modal-buttons {
  display: flex;
  align-items: center;
  gap: 1rem; /* Equivalent to gap-x-4 in Tailwind */
}

.your-modal-custom-button {
  cursor: pointer;
  border-radius: 0.375rem; /* Equivalent to rounded-md in Tailwind */
  padding: 8px 20px; /* Equivalent to py-[8px] px-[20px] in Tailwind */
  font-weight: 600; /* Equivalent to font-semibold in Tailwind */
  background-color: var(--tertiary-text-color); /* Equivalent to bg-richblack-200 in Tailwind */
  color: white; /* Equivalent to text-richblack-900 in Tailwind */
}

/* icon button */


.icon-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 0.375rem;
  padding: 0.5rem 1.25rem;
  font-weight: 600;
  text-align: center;
  background-color: white; /* Equivalent to bg-yellow-50 in Tailwind */
  color: var(--accent-color-dark); /* Equivalent to text-richblack-900 in Tailwind */
}

.icon-btn:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.icon-btn.outline {
  border: 1px solid #FEEA7F; /* Equivalent to border border-yellow-50 in Tailwind */
  background-color: transparent;
}

.icon-btn.outline-text {
  color: #FEEA7F; /* Equivalent to text-yellow-50 in Tailwind */
}



/* .confirm-modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
}

.confirm-modal-wrapper {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.modal-text1 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.modal-text2 {
  font-size: 14px;
  margin-bottom: 20px;
}

.modal-icon-button {
  display: flex;
  justify-content: space-between;
}

.modal-button {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-button:hover {
  background-color: #2980b9;
} */



/* .navbar{
    background-color: var(--accent-color-dark);
    position: sticky;
    width: 100%;
    justify-content: space-between;
    margin-left: 0;
    margin-top: 0;   
    height: 70px;
}

.nav-left{
  margin-top: 10px;
  margin-left: 30px;
}

.nav-right{
  align-items: end;
  width: 34%;
  gap: 30px;
}

.nav-links{
  color: var(--primary-text-color);
  gap: 20px;
  font-weight: 50;
}

.nav-button{
  align-items: center;
  gap: 10px;
  
}



.profilepic img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 20px;
  border-radius: 50px;
  cursor: pointer;
  margin-left: 10px;
}

.profile-button{
  background-color: var(--accent-color-dark);
  border-radius: 25px;
  border: 1px solid white;
  width: 80px;
  height: 38px;
  gap: 10px;
}

.menu-button{
  color: #ffffff;
  
} */





/* login form */


/* styles.css */
.signin-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
}

.form-container {
  width: 350px;
  height: 350px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px 30px;
}

.signin-title {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 10px 0 30px 0;
  font-size: 28px;
  font-weight: 800;
}

.signin-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 15px;
}

.signin-form input {
  border-radius: 20px;
  border: 1px solid #c0c0c0;
  outline: 0 !important;
  box-sizing: border-box;
  padding: 12px 15px;
}

.page-link {
  text-decoration: underline;
  margin: 0;
  text-align: end;
  color: #747474;
  text-decoration-color: #747474;
}

.page-link-label {
  cursor: pointer;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 9px;
  font-weight: 700;
}

.page-link-label:hover {
  color: #000;
}

.signinform-btn {
  padding: 10px 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 20px;
  border: 0 !important;
  outline: 0 !important;
  background: teal;
  color: white;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.signinform-btn:active {
  box-shadow: none;
}

.sign-up-label {
  margin: 0;
  font-size: 10px;
  color: #747474;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.sign-up-link {
  margin-left: 1px;
  font-size: 11px;
  text-decoration: underline;
  text-decoration-color: teal;
  color: teal;
  cursor: pointer;
  font-weight: 800;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}



/* signup form */

.signup-container{
  flex-direction: column;
}


.signup-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.signup-title {
  font-size: 28px;
  color: var(--accent-color);
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.signup-title::before,.signup-title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: var(--accent-color-dark);
}

.signup-title::before {
  width: 18px;
  height: 18px;
  background-color: var(--accent-color);
}

.signup-title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message, .signup-signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.signup-signin {
  text-align: center;
}

.signup-signin a {
  color: var(--tertiary-text-color);
}

.signup-signin a:hover {
  text-decoration: underline var(--accent-color);
}

.signup-flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.signup-form label {
  position: relative;
}

.signup-form label .signup-input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.signup-form label .signup-input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.signup-form label .signup-input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.signup-form label .signup-input:focus + span,.signup-form label .signup-input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.signup-form label .signup-input:valid + span {
  color: var(--accent-color);
}

.signup-submit {
  border: none;
  outline: none;
  background-color: var(--accent-color);
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
}

.signup-submit:hover {
  background-color: var(--accent-color-dark);
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

.tab-container{
  display: flex;
  gap: 20px;
}
.tab-button{
  padding: 5px;
  }



/* .tab-button{
  padding: 10px;
  min-width: 130px;
  border: 1px solid;
  
}

.signup-button{
  width: 150px;
  margin-top: 20px;
} */


/* verify email page */


/* Add this CSS to style your verification page */

.verify-email-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* background-image: linear-gradient(180deg, rgba(0,55,64,1) 5%, rgba(0,111,128,1) 60%, rgba(13,111,129,1) 100%); */
  height: 90vh;
  width: 100%;
 align-items: center;
 justify-content: center;
}

.spinner {
  /* Add your spinner styles here */
}

.vemail-wrapper {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  max-width: 400px;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.vemail-heading {
  font-size: 24px;
  margin-bottom: 10px;
}

.vemail-subheading {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

.vemail-input {
  width: 40px;
  height: 40px;
  font-size: 16px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0 6px;
}

.vemail-submit-button {
  background-color: var(--accent-color);
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  margin-top: 15px;
  cursor: pointer;
}

/* .vemail-submit-button:hover {
  background-color: #45a049;
} */

.vemail-end-section {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vemail-back-signup-button {
  font-size: 14px;
  color: var(--accent-color);
  cursor: pointer;
}

.vemail-back-signup-button:hover {
  text-decoration: underline;
}

.vemail-resend-button {
  background-color: #ffffff;
  color: var(--accent-color);
  padding: 8px 12px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.vemail-resend-button:hover {
  color: var(--accent-color-dark);
}



/* forgot-password-page */

/* Add this CSS to style your forgot password page */

.forgotpass-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: linear-gradient(180deg, rgba(0,55,64,1) 5%, rgba(0,111,128,1) 60%, rgba(13,111,129,1) 100%); */
  height: 90vh;
  width: 100%;
 align-items: center;
 justify-content: center;
}

.spinner {
  /* Add your spinner styles here */
}

.forgotpass-wrapper {
  max-width: 400px;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.fpass-heading {
  font-size: 24px;
  margin-bottom: 10px;
}

.fpass-subheading {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

.fpass-label {
  display: block;
  text-align: left;
  margin-bottom: 15px;
}

.fpass-text {
  font-size: 14px;
  margin-bottom: 5px;
  color: var(--secondary-text-color);
}

.fpass-input {
  width: 100%;
  height: 40px;
  font-size: 16px;
  padding: 5px;
  border: 1.5px solid var(--accent-color);
  border-radius: 4px;
}

.star {
  color: red;
}

.fpass-submit-button {
  background-color: var(--accent-color);
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* .fpass-submit-button:hover {
  background-color: #0056b3;
} */

.fpass-end-section {
  margin-top: 20px;
}

.fpass-backtologin-button {
  font-size: 14px;
  color: var(--accent-color);
  cursor: pointer;
}

/* .fpass-backtologin-button:hover {
  text-decoration: underline;
} */



/* update password page */



.updatepass-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(180deg, rgba(0,55,64,1) 5%, rgba(0,111,128,1) 60%, rgba(13,111,129,1) 100%);
  height: 90vh;
  width: 100%;
 align-items: center;
 justify-content: center;
}

.spinner {
  /* Add your spinner styles here */
}

.updatepass-wrapper {
  max-width: 400px;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.upass-heading {
  font-size: 24px;
  margin-bottom: 10px;
}

.upass-subheading {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

.upass-label {
  display: block;
  text-align: left;
  margin-bottom: 15px;
}

.upass-text {
  font-size: 14px;
  margin-bottom: 5px;
  color: var(--secondary-text-color);
}

.upass-input {
  width: calc(100% - 32px);
  height: 40px;
  font-size: 16px;
  padding: 5px;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  margin-right: 5px;
  display: inline-block;
  
}

.upass-span {
  font-size: 18px;
  display: inline-block;
  cursor: pointer;
  
}

.upass-button {
  background-color: var(--accent-color);
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* .upass-button:hover {
  background-color: #0056b3;
} */

.upass-end-section {
  margin-top: 20px;
}

.upass-backtologin-button {
  font-size: 14px;
  color: var(--accent-color);
  cursor: pointer;
}

/* .upass-backtologin-button:hover {
  text-decoration: underline;
}  */


/* profile- page */

/* styles.css */

/* styles.css */

.profile-line{
  display: flex;
  margin: 10px 0;
  width: 950px;
  height: 2px;
  background-color: var(--simple-text-color);

}

.profile-card {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  /* background-color: #333333; */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-card h1 {
  margin-bottom: 14px;
  font-size: 2rem;
  font-weight: 600;
  color: #1a1a1a;
}

.profile-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid #1a1a1a; */
  /* border-radius: 4px; */
  /* background-color: #333333; */
  padding: 16px;
}

.profile-info-container img {
  width: 78px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-details {
  display: flex;
  gap: 16px;
}

.profile-details p {
  margin: 0;
}

.profile-section {
  margin-top: 20px;
  gap: 50px;
  display: flex;
  flex-direction: column;
}

.details-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* border: 1px solid #1a1a1a;
  border-radius: 4px; */
  /* background-color: #333333; */
  padding: 16px;
}

.details-header {
  display: flex;
  justify-content: space-between;
}

.edit-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #1a1a1a;
}



.personal-details {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.detail {
  flex-basis: calc(50% - 20px);
}

.label {
  font-size: 14px;
  color: #666666;
}

.value {
  font-size: 16px;
  font-weight: 500;
  color: #1a1a1a;
}




.setting-container{
  display: flex;
  gap: 50px;
}

.my-profile-title {
  margin-bottom: 14px;
  font-size: 1.875rem; 
  font-weight: 500;    
  color: #1a1a1a;      
}


/* styles.css */


/* settings page */

.edit-profile-detail{
  margin-bottom: 30px;
}
.profile-change-btn{
  height: 30px;
}

.profile-edit-button{
  background-color: var(--accent-color);
  border-radius: 5px;
  border: none;
  
  color: white;
}

.edit-profile-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.edit-profile-wrapper h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.edit-profile-picture {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.edit-profile-picture img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
  border: 3px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.edit-profile-picture div {
  display: flex;
  flex-direction: column;
}

.edit-profile-picture p {
  font-size: 14px;
  color: #777;
  margin-bottom: 10px;
}

.edit-profile-picture input[type="file"] {
  display: none;
}

.edit-profile-detail .profile-edit-button,
.edit-profile-detail .special-btn {
  padding: 10px 16px;
  background-color: var(--accent-color);
  color: #fff;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.edit-profile-detail .profile-edit-button:hover,
.edit-profile-detail .special-btn:hover {
  background-color: var(--accent-color);
}

.edit-profile-detail .loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  display: inline-block;
  margin-left: 5px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.edit-profile-details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.edit-profile-details-column {
  flex: 1;
  margin-right: 20px;
}

.edit-profile-details-column-data {
  margin-bottom: 20px;
}

.edit-profile-details label {
  font-size: 14px;
  color: #555;
  margin-bottom: 8px;
  display: block;
}

.edit-profile-details input,
.edit-profile-details select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.edit-profile-details select {
  appearance: none;
  background: #fff url('data:image/svg+xml;utf8,<svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z" /></svg>') no-repeat right 10px center;
  background-size: 15px;
}

.edit-profile-details span {
  color: #f44336;
  font-size: 14px;
}


@media (max-width: 600px) {
  .edit-profile-details-column {
    margin-right: 0;
  }
}

.edit-profile-detail-buttons{
  display: flex;
  gap: 30px;

}


/* change password */

/* styles.css */

.my-form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  border: 2px solid var(--accent-color-dark);
  background-color: white;
  border-radius: 8px;
  padding: 8px;
  padding-right: 12px;
}

.my-form h2 {
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--accent-color-dark);
}

.my-form-inner {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.form-input-group {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 48%;
}

.label-style {
  font-size: 14px;
  color: var(--simple-text-color);
}

.form-style {
  width: 93%;
  padding: 8px;
  font-size: 16px;
  border: 2px solid var(--accent-color-dark);
  border-radius: 5px;
  color: #d7d7d7;
  background-color: white;
  
}

.show-password-icon {
  position: absolute;
  right: 22px;
  top: 36px;
  z-index: 10;
  cursor: pointer;
}

.text-warning {
  margin-top: -1px;
  font-size: 12px;
  color: #f3c700;
}

.btn-group {
  margin-right: 52px;
  display: flex;
  justify-content: flex-end;
  gap: 11px;
}

.cancel-btn {
  border: 1px solid var(--accent-color-dark);
  cursor: pointer;
  border-radius: 8px;
  padding: 9px;
  background-color: var(--accent-color);
  color: white;
  font-weight: 600;
}

.update-btn {
  cursor: pointer;
  border-radius: 8px;
  padding: 8px 12px;
  background-color: #1e212b;
  color: #d7d7d7;
  font-weight: 600;
  border: 2px solid white;
}

.update-btn:hover {
  background-color: var(--accent-color-dark);
  color: white;

}

/* Responsive adjustments - Add your own media queries as needed */
@media (max-width: 600px) {
  .form-input-group {
    width: 100%;
  }
}








/* delete acoount */

.delete-account-container {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  border: 1px solid red;
  border-radius: 0.375rem;
  background-color: #340010e9;
  
  padding: 32px 48px;
}

.delete-account-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #fff;
  height: 40px;
  width: 50px;
}

.delete-account-icon svg {
  font-size: 1.5rem;
  color: #340010e9;
}

.delete-account-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.delete-account-title {
  font-size: 1.125rem;
  font-weight: 600;
  color: #0d0d0d;
}

.delete-account-description {
  width: 60%;
  color: #40002e;
}

.delete-account-button {
  width: fit-content;
  cursor: pointer;
  font-weight: 700;
  font-style: italic;
  color: red;
  padding: 10px;
  height: 50px;
  border-radius: 10px;
}











/* add property page */

/* .create-listing-wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.create-listing-wrapper h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.create-listing-data label {
  display: block;
  margin-bottom: 10px;
}

.create-listing-data select,
.create-listing-data input,
.create-listing-data textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.create-listing-data button {
  padding: 10px 15px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.create-listing-data button:hover {
  background-color: #45a049;
}

.custom-file-upload {
  position: relative;
}

.custom-file-upload button {
  background-color: #3498db;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.custom-file-upload button:hover {
  background-color: #2980b9;
}

#inp {
  display: none;
} */










/* daf2 */
/* card css */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 300px;
  margin: 20px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.02);
}

.card-img{
  display: flex;
}

.card-img img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card-info {
  padding: 16px;
  background-color: white;
}

.card-price {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333333;
}

.card-location {
  margin-top: 8px;
  color: #666666;
}

.card-property-details {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  color: #888888;
}

.card-property-details span {
  display: flex;
  align-items: center;
}

.card-button,
.card-delete-btn {
  display: block;
  width: 100%;
  padding: 8px;
  margin-top: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.card-button {
   color: var(--accent-color-dark);
  border: 1px solid var(--accent-color-dark);
  /* background-color: var(--accent-color-dark); */
  
}

.card-delete-btn {
  background-color: #e74c3c;
  color: #ffffff;
}

.card-button:hover,
.card-delete-btn:hover {
  background-color: var(--accent-color);
  color: white;
}


/* filter */
.filter-btn{
  padding: 5px;
  width: 60%;
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
}
.filter-btn:hover{
  background-color: var(--accent-color);
  color: var(--primary-text-color);
}

.properties-filter-section {
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  border-radius: 10px;
  padding: 20px 30px;
}

.filter-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* backdrop-filter: blur(20px); */
  background-color: rgba(36, 34, 38, 0.8);
  z-index: 3;
}

.filter {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  border-radius: 15px;
  padding: 0px 30px 0px;
  align-items: center;
  height: 96vh;
  overflow-y: scroll;
}


.filter::-webkit-scrollbar {
  background-color: transparent;
  width: 15px;
}
.filter::-webkit-scrollbar-track {
  background-color: transparent;
}
.filter::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 4px solid transparent;
  background-color: rgba(0, 0, 0, 0.2);
  background-clip: content-box;
}

.filter-heading {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.filter-heading h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.7rem;
  font-weight: 500;
  padding-top: 20px;
  padding-bottom: 0px;
}

.filter-close-btn {
  font-size: 2.5rem;
  padding: 5px;
  border-radius: 10px;
  opacity: 0.7;
}

.filter-close-btn:hover {
  background-color: whitesmoke;
}

.filter-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  display: 90%;
  margin: auto;
}



#checklist {
  --check: #006f80;
  --disabled: var(--special-color);
  --width: 100px;
  --height: 180px;
  --border-radius: 10px;
  background: var(--light-color);
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  position: relative;
  padding: 0px 85px;
  display: grid;
  grid-template-columns: 30px auto;
  align-items: center;
  justify-content: center;
}

#checklist label {
  color: var(--primary-dark-color);
  font-weight: 100;
  font-size: large;
  position: relative;
  cursor: pointer;
  display: grid;
  align-items: center;
  width: fit-content;
  transition: color 0.3s ease;
  margin-right: 20px;
}

#checklist label::before,
#checklist label::after {
  content: "";
  position: absolute;
}

#checklist label::before {
  height: 2px;
  width: 8px;
  left: -27px;
  background: var(--check);
  border-radius: 2px;
  transition: background 0.3s ease;
}

#checklist label:after {
  height: 4px;
  width: 4px;
  top: 8px;
  left: -25px;
  border-radius: 50%;
}

#checklist input[type="checkbox"] {
  --webkit-appearance: none;
  --moz-appearance: none;
  position: relative;
  height: 15px;
  width: 15px;
  outline: none;
  border: 0;
  margin: 0 15px 0 0;
  cursor: pointer;
  background: var(--light-color);
  display: grid;
  align-items: center;
  margin-right: 20px;
}

#checklist input[type="checkbox"]::before,
#checklist input[type="checkbox"]::after {
  content: "";
  position: absolute;
  height: 2px;
  top: auto;
  background: var(--check);
  border-radius: 2px;
}

#checklist input[type="checkbox"]::before {
  width: 0px;
  right: 60%;
  transform-origin: right bottom;
}

#checklist input[type="checkbox"]::after {
  width: 0px;
  left: 40%;
  transform-origin: left bottom;
}

#checklist input[type="checkbox"]:checked::before {
  animation: check-01 0.4s ease forwards;
}

#checklist input[type="checkbox"]:checked::after {
  animation: check-02 0.4s ease forwards;
}

#checklist input[type="checkbox"]:checked + label {
  color: var(--disabled);
  animation: move 0.3s ease 0.1s forwards;
}

#checklist input[type="checkbox"]:checked + label::before {
  background: var(--disabled);
  animation: slice 0.4s ease forwards;
}

#checklist input[type="checkbox"]:checked + label::after {
  animation: firework 0.5s ease forwards 0.1s;
}


.filter-form-bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filter-form-bottom label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  font-size: large;
  font-weight: 500;
}

.filter-form-bottom input {
  padding: 10px;
  font-size: medium;
  border: 1px solid rgb(126, 125, 125);
  border-radius: 8px;
  width: 300px;
}

.filter-price {
  display: flex;
  gap: 20px;
}

hr {
  width: 90%;
  margin: 20px;
  border: 0.05px solid #cac9c9b3;
}

.filter-form-top {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: larger;
  font-weight: 500;
}

.filter-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  bottom: 0px;
  background-color: white;
  padding: 20px 0px;
}

.clear-filter-btn {
  padding: 13px 10px;
  font-size: medium;
  background-color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.clear-filter-btn:hover {
  background-color: whitesmoke;
}

.search-filter-btn {
  padding: 13px 25px;
  font-size: medium;
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}





/* all properties */



.my-listings{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.my-listings-wrapper h1{
  display: flex;
  justify-content: center;
  color: #003740;
}


/* property detail page */



/* image slider */





.slick-initialized .slick-slide {
  display: flex !important;
}
.slick-slide{
  justify-content: center;
  align-items: center;
  background-color: white;
  
}

.property-img-slider {
  margin: 50px 0;
  /* margin-bottom: 20px; */
  background-color: #e8e8e8;
  /* overflow: hidden; */
  
}
.slider-item{
  height: 400px;
  /* background-size: cover; */
  
}
.slider-item {
  img {
    object-fit: cover;
    width: 550px;
    height: auto;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
}
.slick-prev::before, .slick-next::before {
  font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: black;
    -webkit-font-smoothing: antialiased;
}

.slick-next::before, .slick-prev::before{
  color: #000 !important;
  font-size: 30px !important; 
  position: relative;
}
.slick-prev::before{
  left: -12px;
}


/* property detail left */

.detail-property-bg {
  width: 100%;
  background: var(--simple-text-color);
}

.detail-property-wrapper {
  width: 80%;
  margin: auto;
  padding: 30px 0;
  overflow: clip;
}

.property-image-section {
  width: 100%;
  margin: auto;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  gap: 30px;
  background-color: whitesmoke;
  padding: 30px;
  border-radius: 30px;
}

.active-image {
  /* width: 600px;
  height: 600px; */
  width: 100%;
  height: 600px;
  background-size: cover;
  /* padding: 20px; */
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 30px;
  background-color: white;
}

.active-image img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

.non-active-images {
  max-height: 600px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  padding-right: 22px;
  border-radius: 15px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: white;
}

.non-active-images img {
  padding: 5px;
  cursor: pointer;
  width: 100px;
  height: 80px;
  border-radius: 10px;
}

.property-details-section {
  display: flex;
  /* flex-direction: column; */
  gap: 40px;
  border-radius: 30px;
  font-size: larger;
  padding: 30px;
  align-items: flex-start;
  margin-block: 60px;
  background: transparent;
  background-color: whitesmoke;
}

.property-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* border: 2px solid black; */
  border-radius: 20px;
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  gap: 15px;
  padding: 40px;
  background-color: white;
}

.property-details-section-left {
  display: flex;
  width: 60%;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  background: transparent;
}

.property-details-price {
  display: flex;
  width: fit-content;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--accent-color);
  border-radius: 10px;
  padding: 10px 20px;
}

.property-details-heading {
  width: 100%;
  display: flex;
  align-items: flex-start;
  color: var(--accent-color-dark);
}

.property-details div span {
  font-size: large;
}

.property-details h2 {
  font-weight: 300;
  font-size: 1.5rem;
}

.property-details h3 {
  font-weight: 200;
  font-size: 1.3rem;
}

.property-details p {
  font-weight: 100;
  font-size: 1.3rem;
}

.property-details h1 {
  font-size: 2.5rem;
  font-weight: 500;
}

.seller-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  border-radius: 20px;
  /* border: 2px solid black; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 40px;
  background-color: white;
}

.seller-details h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  color: var(--primary-dark-color);
}

.seller-info {
  display: flex;
  gap: 20px;
  align-items: center;
}

.seller-detail-left {
  width: 200px;
  height: 200px;
  background-size: cover;
  overflow: hidden;
}

.seller-detail-left img {
  width: 200px;
  border-radius: 100px;
}

.seller-detail-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.seller-detail-right h2 {
  font-weight: 400;
  color: var(--accent-color);
}

.seller-detail-right p {
  font-size: large;
  font-weight: 200;
}

.property-details-section-right {
  width: 40%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  align-items: flex-start;
  padding: 40px 20px;
  /* position: sticky; */
  top: 100px;
  background-color: white;
  border-radius: 20px;
}

.property-details-section-right form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.property-details-section-right h1 {
  font-size: 2.5rem;
  color: var(--accent-color-dark);
  font-weight: 500;
}

.property-details-section-right input {
  width: 90%;
  user-select: none;
  font-size: medium;
  padding: 12px 24px;
  text-align: start;
  border: 2px solid var(--accent-color);
  border-radius: 15px;
  color: var(--accent-color);
}

.special-btn {
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--accent-color);
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid var(--accent-color);
}

.special-btn:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #70bdca;
  box-shadow: 4px 5px 17px -4px #268391;
}

.special-btn::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #2c9caf;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.special-btn:hover::before {
  width: 250%;
}


/* .property-details-section-left {
  flex: 1;
  margin-right: 20px;
  
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.property-details {
  margin-bottom: 20px;
}

.property-details-heading h1 {
  margin-bottom: 10px;
  color: var(--accent-color);
}

.property-details h2{
  color: var(--secondary-text-color);
}

.property-details-price h1 {
  font-size: 24px;
  
  color: var(--secondary-text-color);
}

.property-details-price p {
  
  color: var(--secondary-text-color);
}

.property-details-info h3 {
  margin-bottom: 5px;
  color: #333;
}

.property-details-info p {
  margin-bottom: 10px;
  color: #333;
}

.seller-details {
  margin-bottom: 20px;
}

.seller-details h1{
  color: var(--accent-color);
}

.seller-info {
  display: flex;
  align-items: center;
}

.seller-detail-left img {
  max-width: 100px;
  border-radius: 50%;
  margin-right: 20px;
} */

/* .property-detail-right {
  flex: 1;
}

.property-detail-right form {
  width: 80%;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.property-detail-right h1 {
  margin-bottom: 20px;
  color: #333;
}

.property-detail-right input {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.property-detail-right input:focus {
  outline: none;
  border-color: var(--accent-color)
}

.property-detail-right button {
  background-color: var(--accent-color);
  color: var(--primary-text-color);

  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.property-detail-right button:hover {
  background-color: var(--primary-text-color);
  color: var(--accent-color);

} */







.property-photos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  .additional-photo {
    flex: 0 0 48%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 8px;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}



/* home page */

.main-container{
  overflow: hidden;
}


.homepage-bg-image{
  background-image:
  linear-gradient(180deg, rgba(0,55,64,1) 5%, rgba(0,111,128,0.1972391251422444) 60%), 
                      url('./assets/h1.webp');
            width: 100%;
            height: 410px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
}
.homepage-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.homepage-hero-text{
  text-align: center;
  
  
}

.homepage-hero-text h1{
  color: white;
  font-weight: 500;
  font-size: 40px;
  line-height: 55px;
  
}
.homepage-hero-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin-bottom: 100px;
}


.homepage-hero-form form {
  background-color: #fff;
  border-radius: 10px;
  margin-top: 50px;
  padding: 0 20px;
}
.homepage-hero-form form input {
  padding: 10px;
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.2);
  margin-top: 5px;
  border-radius: 5px;
}
.homepage-hero-form form span {
  font-size: 14px;
  color: grey;
}
input::placeholder {
  font-size: 17px;
  color: var(--simple-text-color);
  
}
.homepage-hero-form form input {
  outline-color: var(--accent-color);
}


.homepage-hero-form form .box {
  padding: 15px;
  border-left: 1px solid rgba(128, 128, 128, 0.2);
}
.homepage-hero-form form .box:nth-child(1) {
  border-left: none;
}
.homepage-hero-form form h4 {
  font-weight: 500;
}


.btn1-hero{
  
  margin-top: 27px;
  background: var(--accent-color);
  border: none;
  border-radius: 23px;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  padding: 13px 34px;

}

/* slider above text */

.slider-card{
  margin: 50px 0;
}

.slider-card-text-btn{
  display: flex;
  justify-content: space-between;
  
}
.slider-card-text{
  color: var(--secondary-text-color);
  font-weight: 500;
  text-transform: capitalize;
  font-size: 35px;
  margin-left: 30px;
}

.slider-card-btn{
  display: flex;
  gap: 10px;
  
}
.explore-text{
  margin-bottom: 5px;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500; 
  line-height: 1.5; 
  
}

.explore-text a{
  color: var(--accent-color-dark);
}

.explore-btn{
  margin-top: 4px;

}
/* button of slider */

.button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 35px; 
  border-radius: 8px;
  border: 0.5px solid var(--accent-color-dark);
  font-size: 15px;
   
  font-weight: 500;
  color: var(--accent-color-dark);
  background: var(--primary-text-color);
    padding: 10px 20px;
    transition: 0.2s ease-out;
    text-align: center;
}

.button:hover{
  color: white;
  background-color: var(--accent-color);
}

.slider-btn-homepage{
  margin-left: 900px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}



/* offer section box */

.offer-section-box{
  margin-top: 22px;
  border-radius: 5px;
  background-color: #E6F1F3;
  padding: 4px;
  height: 80px;
  display: flex;
  flex-direction: column;
}

.offer-section-box h2{
  margin-bottom: 5px;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500; 
  line-height: 1.5; 
  color: var(--accent-color);
}
.offer-section-box p {
  text-align: center;
  font-size: 0.875rem; 
  font-weight: 500;
  line-height: 1.5; 
  color: var(--accent-color);
}


/* featured property section */
/* featured text */
.featured-heading {
  
  justify-content: center;
  flex-direction: column;
  display: flex;
  margin-top: 50px;
  text-align: center;
}
.featured-heading h1 {
  color: #2d3954;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 35px;
}
.featured-heading p {
  color: #72809d;
}

/* featured */
.featured .box {
  box-shadow: 0 0 20px 0 rgb(112 121 138 / 18%);
  border-radius: 25px;
  text-align: center;
  padding: 30px;
  cursor: pointer;
}
.featured img {
  width: 65px;
  height: 65px;
  margin: auto;
}

/* featured card */

.mtop {
  margin-top: 50px;
}

.grid5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
}







/* why rentez section */
.whyrentez-section{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.whyrentez-text{
  color: var(--secondary-text-color);
  font-weight: 600;
  text-transform: capitalize;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.whyrentez-card{
  display: flex;
  justify-content: space-between;
}

.whyrentez-card1{
  align-items: center;
    justify-content: center;
    width: 210px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  
}

.whyrentez-card1 img{
     width: 100px;
     height: 100px;
     
     opacity: 0.7;
}

.whyrentez-card1-text-heading{
  font-size: 18px;
  color: var(--accent-color-dark);
}

.whyrentez-card1-text-paragraph{
  font-size: 12px;
  text-align: center;
  color: var(--simple-text-color);
}




/* rent-home-card- component */


.rent-card-image{
  margin-top: 50px;
}

.rent-card-text{
  margin-left: 50px;
  padding: 20px;
  width: 400px;
}

.rent-card-text h5{
  color: var(--simple-text-color);
}

.rent-card-text p{
  color: var(--secondary-text-color);
}

.rent-card-text button{
  margin-top: 40px;
}

.rent-home-btn{
  font-weight: 600;
  color: var(--accent-color);
  border: 1px solid var(--accent-color-dark);
  border-radius: 10px;
  padding: 15px;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: white;
  transition: background-color 0.3s;
}

.rent-home-btn:hover {
  background-color: var(--accent-color);
  color: white;
}
/* rent-land-card component */
.rent-card-container{
  justify-content: space-around;
}
.rent-land-container{
  flex-direction: row-reverse;
}

.rent-r-card-text{
  margin-right: 70px;
 
  width: 400px;
}

.rent-r-card-text h5{
  color: var(--simple-text-color);
}

.rent-r-card-text p{
  color: var(--secondary-text-color);
}

.rent-r-card-text button{
  margin-top: 40px;
}

.rent-land-btn{
  font-weight: 600;
  color: var(--accent-color);
  border: 1px solid var(--accent-color-dark);
  border-radius: 10px;
  padding: 15px;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: white;
  transition: background-color 0.3s;
}

.rent-land-btn:hover {
  background-color: var(--accent-color);
  color: white;
}




/* footer */

.footer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 30px 100px;
  gap: 10px;
  background-color: white;
  margin-top: 20px;
}

.footer-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company-logo{
  display: flex;
  align-items: center;
}

.company-logo img{
  height: 150px;
  width: 42px;
  
}

.footer-icons-wrapper{
  display: flex;
  gap: 20px;
}

.footer-icons{
  display: flex;
  justify-content: center;
  align-items: center;
}



.footer-section h2{
  font-weight: 600;
}

.footer-section p a{
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  color: #000;
}

.footer-sub-content{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.footer-sub-content-left{
  display: flex;
  width: 400px;
  height: 150px;
  align-items: start;
  justify-content: center;
}

.footer-sub-content-right{
  display: flex;
  justify-content: center;
  gap: 40px;
}

.footer-bottom{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}


.partition2 {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem; 
  margin-bottom: 1.5rem;
  height: 1px !important;
  width: 95%; 
  background-color: lightgray; 
}





/* plans page */

.hidden{
  display: none;
}

.pricing-container {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.pricing-header {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.pricing-title {
  font-size: 3rem;
  font-weight: bold;
  color: var(--accent-color-dark);
}

.pricing-description {
  color: #333;
  max-width: 33.33%;
  margin-left: auto;
  margin-right: auto;
}

.pricing-toggle {
  margin-top: 2.5rem;
}

.pricing-toggle-label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.pricing-toggle-switch {
  width: 3.5rem;
  height: 1.5rem;
  background-color: #ccc;
  border-radius: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
}

.pricing-toggle-switch-handle-monthly {
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--accent-color-dark);
  border-radius: 50%;
  transform: translateX(0);
  transition: transform 0.3s;
}

.pricing-toggle-switch-handle-yearly {
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--accent-color-dark);
  border-radius: 50%;
  transform: translateX(2rem);
  transition: transform 0.3s;
}

.pricing-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 2.5rem;
  /* width: 90%; */
  margin-left: auto;
  margin-right: auto;
}

.pricing-package {
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0.2, 0.2, 0.2, 0.2);
  transition: transform 0.3s ease-in-out;
}

.pricing-package-name {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.pricing-package-description {
  color: #666;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.pricing-package-price {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--accent-color);
}

.pricing-package-price-unit {
  font-size: 1rem;
  font-weight: normal;
  color: #666;
}

.pricing-package-features {
  list-style: none;
  padding: 0;
  text-align: left;
  margin-top: 1rem;
}

.feature {
  display: flex;
  align-items: center;
  margin: 10px 20px;
}

.feature-icon {
  margin-right: 0.5rem;
  font-size: 1.5rem;
  color: #010851;
}

.feature-text {
  font-size: 1rem;
  color: #333;
}

.pricing-package-button {
  margin-top: 1.5rem;
}

.pricing-package-button-primary {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  background-color: var(--accent-color-dark);
  color: white;
  
  border: 1px solid var(--accent-color-dark);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pricing-package-button-primary:hover {
  background-color: #FFF;
  color: var(--accent-color);
}




/* About us page */

.section1 {
  margin: 0 auto;
  width: 100%;
  /* max-width: 1440px; */
}

.content-wrapper {
  margin: 0 auto;
  width: 91.666667%;
}

.header {
  margin: 0 auto;
  padding-top: 2.5rem;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.25;
  width: 70%;
}

.subheader {
  margin-top: 0.75rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  width: 95%;
}

/* .spacer {
  height: 150px;
} */


.image-grid{
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 1.25rem;
  height: 270px;
  /* flex-wrap: wrap; */
}
/* .image-grid {
  position: absolute;
  bottom: 0;
  left: 51%;
  width: 100%;
  transform: translateX(-50%) translateY(30%);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
} */

.border-b {
  border-bottom: 1px solid #1a202c;
}

.quote {
  margin: 0 auto;
  width: 91.666667%;
}

/* .highlight,
.gradient-text1,
.gradient-text2{
  background: linear-gradient(90deg, rgba(0,60,70,0.6253956172312676) 45%, rgba(0,111,128,0.01195023908000703) 100%);
} */

.flex-container {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.founding-story,
.vision,
.mission {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  width: 50%;
  border-radius: 10px;
  padding: 10px 10px;
}

.vision{
  width: 53.5%;
}


.founder-title,
.vision-title,
.mission-title {
  background-image: linear-gradient(to bottom right, #ff512f, #f09819);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.25;
  width: 70%;
  color: #006f80;
}

.text {
  text-align: justify;
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  width: 95%;
}

.footer-section {
  margin-top: 5rem;
}



/* quote */

.passion-statement {
  font-size: 1.25rem; /* text-xl */
  /* margin: 0 auto; */
  padding: 1.25rem 0; /* py-5 */
  padding-bottom: 2.5rem; /* pb-20 */
  text-align: center;
  color: black;
  
  /* margin-top: 100px; */
}

.passion-statement .highlight {
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 600; /* font-semibold */
  color: rgba(0, 0, 0, 0.559);
  background: linear-gradient(90deg, rgba(0,60,70,0.6253956172312676) 45%, rgba(0,111,128,0.32567572927608546) 100%);}

.passion-statement .gradient-text1 {
  background: linear-gradient(90deg, rgba(0,60,70,0.6253956172312676) 45%, rgba(0,111,128,0.32567572927608546) 100%);
  font-weight: 600; /* font-bold */
  color: rgba(0, 0, 0, 0.559);
}

.passion-statement .gradient-text2 {
  background: linear-gradient(90deg, rgba(0,60,70,0.6253956172312676) 45%, rgba(0,111,128,0.32567572927608546) 100%);
  font-weight: 600; /* font-bold */
  color: rgba(0, 0, 0, 0.559);
}


/* stats */

.stats-section {
  background-color: var(--accent-color-dark); /* bg-richblack-700 */
  margin: 30px 0;
}

.stats-container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem; /* gap-10 */
  justify-content: space-between;
  width: 91.666667%; /* w-11/12 */
  max-width: 1440px; /* max-w-maxContent */
  color: white;
  margin: 0 auto;
}

.grid-container {
  display: grid;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-template-columns: repeat(2, 1fr);  */
  gap: 1rem; /* gap-4 */
  text-align: center;
}

.stat {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  /* padding-top: 2.5rem;  */
}

.count {
  font-size: 1.875rem; /* text-[30px] */
  font-weight: 700; /* font-bold */
  color: #f5f5f5; /* text-richblack-5 */
}

.label-h2 {
  font-weight: 600; /* font-semibold */
  font-size: 1rem; /* text-[16px] */
  color: #7f7f7f; /* text-richblack-500 */
}


/* contact section */

.get-in-touch {
  margin: 0 auto;
  text-align: center;
}

.title {
  font-size: 2.5rem; /* text-4xl */
  font-weight: 600; /* font-semibold */
}

.description {
  color: #4b5563; /* text-richblack-300 */
  margin-top: 0.75rem; /* mt-3 */
}

.form {
  margin-top: 3rem; /* mt-12 */
  margin-left: auto;
  margin-right: auto;
  max-width: 670px;
}



/* contact form */

.contact-form {
  display: flex;
  width: 100%;
  padding: auto;
  flex-direction: column;
  gap: 1.75rem;
}

.form-row {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
}

.form-col {
  flex: 1;
}

/* .form-col-50 {
  flex: 1;
  width: 48%;
} */

/* .form-label {
  font-weight: bold;
} */

.form-input,
.form-textarea {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  outline-color: var(--accent-color);
}

.form-select{
  width: 12%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.phone-input {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}

.phone-number {
  flex: 1;
}

.error-message {
  font-size: 0.75rem;
  color: #f00;
}

.submit-button {
  padding: 0.75rem 1.5rem;
  border-radius: 0.375rem;
  background-color: var(--accent-color-dark);
  color: white;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border: none;
}

/* .button-hover:hover {
  transform: scale(0.95);
  box-shadow: none;
} */

.button-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}















/* Create Listing Property  */

.create-listing-wrapper {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 30px 50px;
  align-items: center;
  gap: 20px;
}

.create-listing-wrapper h1 {
  font-size: 2rem;
  font-weight: 500;
  padding: 20px 0;
}

.create-listing-data {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.create-listing-data label {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  font-size: large;
  align-items: flex-start;
  text-align: center;
}

.create-listing-data label input,
textarea,
select {
  outline: #000;
  width: 100%;
  user-select: none;
  font-size: large;
  padding: 15px 0px;
  text-align: center;
  border: 1px solid rgb(222, 222, 222);
  border-radius: 15px;
  color: var(--secondary-dark-color);
}

#inp {
  display: none;
}

.create-listing-data label button {
  width: 100%;
  padding: 10px 0;
}

