@media screen and (max-width: 768px) {


    /* hero section */
    .homepage-hero-text h1{
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;
    }

    .homepage-hero {
        padding: 20px;
      }
    
      /* .homepage-hero-text h1 {
        font-size: 30px;
        line-height: 40px;
      } */
    
      .homepage-hero-form {
        width: 80%;
      }
    
      .homepage-hero-form form {
        padding: 0 10px;
      }
    
      .btn1-hero {
        padding: 10px 20px;
      }

      /* featured section */
      .featured-heading h1 {
        font-size: 25px;
      }
    
      .featured .box {
        padding: 15px;
      }



      /* slider section */

      .slider-card-text {
        font-size: 25px;
        margin-left: 20px;
      }
    
      .slider-btn-homepage {
        margin-left: 0;
        /* justify-content: space-around; */
      }


      /* why rentez section */

      .whyrentez-text {
        font-size: 25px;
      }
    
      .whyrentez-card1 {
        width: 150px;
      }
    
      .whyrentez-card1 img {
        width: 60px;
        height: 60px;
      }
    
      .whyrentez-card1-text-heading {
        font-size: 14px;
      }
    
      .whyrentez-card1-text-paragraph {
        font-size: 9px;
      }

      /* rent card */

      .rent-card-container{
        display: flex;
        flex-direction: column;
      }

      .rent-card-text{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        
      }

      /* rent land */

      .rent-land-container{
        display: flex;
        flex-direction: column;
      }

      .rent-r-card-text{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        
      }


      /* footer */

      .footer-sub-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .footer-sub-content-left{
        display: flex;
        height: 60px;
        text-align: center;
        

      }



      /* profile page */

      .profile-card {
        padding: 15px;
      }
    
      .profile-info-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
      }
    
      .profile-info-container img {
        width: 70px;
      }
    
      .profile-details {
        flex-direction: column;
        gap: 5px;
      }
    
      .profile-details p {
        margin: 0;
        font-size: 16px;
      }
    
      .profile-section {
        gap: 20px;
      }
    
      .details-container {
        padding: 10px;
        gap: 10px;
      }
    
      .personal-details {
        /* flex-direction: column; */
        gap: 10px;
      }
    
      /* .detail {
        flex-basis: 100%;
      } */
    
      .label {
        font-size: 14px;
      }
    
      .value {
        font-size: 16px;
      }
    
      .profile-line {
        width: 100%;
      }



      /* property detail page */

      .property-details-section {
        flex-direction: column;
        gap: 20px;
      }
    
      .property-details-section-left,
      .property-details-section-right {
        width: 100%;
      }
    
      .property-details {
        padding: 20px;
      }
    
      .property-details-section-right {
        padding: 20px;
      }
    
      .seller-details {
        padding: 20px;
      }
    
      .seller-info {
        
        gap: 10px;
        align-items: center;
      }
    
      .seller-detail-left {
        width: 150px;
        height: 150px;
      }
    
      .seller-detail-left img {
        width: 150px;
        height: 150px;
        border-radius: 75px;
      }
    
      .special-btn {
        padding: 10px 20px;
        font-size: 14px;
      }
    
      .property-img-slider {
        margin: 30px 0;
      }
    
      .property-img-slider .slick-slide img {
        width: 100%;
        height: auto;
      }


      /* about */

      .pricing-grid{
        width: 360px;
        flex-direction: column;
      }
    
      .pricing-package{
        border-color: lightgray;
        background-color: #FFF;
      }






      /* about page  */

      .header {
        font-size: 2rem;
        width: 80%;
      }
    
      .subheader {
        font-size: 1rem;
        width: 100%;
      }
    
      .image-grid {
        flex-direction: column;
        height: auto;
      }
    
      .founding-story,
      .vision,
      .mission {
        width: 100%;
        padding: 15px;
      }
    
      .vision {
        width: 100%;
      }
    
      .flex-container {
        flex-direction: column;
        gap: 1.5rem;
        margin-top: 2rem;
      }
    
      .footer-section {
        margin-top: 3rem;
      }
    
      .stats-container {
        width: 100%;
        padding: 0 15px;
      }
    
      .grid-container {
        grid-template-columns: repeat(2, 1fr);
      }
    
      .contact-form {
        margin-top: 2rem;
      }
    
      .form-input,
      .form-select {
        width: 100%;
      }
    
      .submit-button {
        padding: 0.75rem 1.5rem;
        font-size: 1rem;
      }




      

     
}


@media screen and (max-width: 480px){

     /* navbar */
     .nav{
        display: none;
     }




    /* hompage hero */
    .homepage-bg-image {
      height: auto;
      padding: 20px;
    }
  
    .homepage-hero-text h1 {
      font-size: 30px;
      line-height: 40px;
    }
  
    /* .homepage-hero-form {
      width: 100%;
    }
  
    .homepage-hero-form form {
      padding: 0 10px;
    }
  
    .homepage-hero-form form input {
      padding: 8px;
      font-size: 14px;
    }
  
    .homepage-hero-form form .box {
      padding: 10px;
    }
  
    .btn1-hero {
      padding: 10px 30px;
      font-size: 14px;
    } */

    .homepage-hero-form {
      margin-top: 50px;
      width: 90%; /* Reduce the width of the form */
      margin-bottom: 50px;
      text-align: center; /* Center align the form */
    }
  
    .homepage-hero-form form {
      
      padding: 0 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 300px; /* Set a max-width for the form */
      margin: 0 auto; /* Center the form horizontally */
    }
  
    .homepage-hero-form form .box {
      padding: 2px; /* Reduce padding */
      border-left: none;
      border-bottom: 1px solid rgba(128, 128, 128, 0.2); /* Add bottom border */
      width: 100%; /* Make the boxes full width */
      box-sizing: border-box; /* Include padding in width calculation */
    }
  
    .homepage-hero-form form input {
      padding: 4px; /* Reduce padding */
      width: 100%;
      border: none;
      margin-top: 5px;
      border-radius: 5px;
      box-sizing: border-box; /* Include padding in width calculation */
    }
  
    .homepage-hero-form form span {
      font-size: 15px; /* Reduce font size */
      color: grey;
      margin-top: 5px; /* Reduce margin top */
    }
  
    .homepage-hero-form form .box:nth-child(3) {
      border-bottom: none; /* Remove bottom border from the last box */
    }
  
    .homepage-hero-form form button {
      margin-top: 15px; /* Adjust button margin */
      padding: 8px 20px; /* Reduce button padding */
      font-size: 14px; /* Reduce font size */
    }


    /* offer section */

    .offer-section-box {
      padding: 10px;
      height: auto;
    }
  
    .offer-section-box h2 {
      font-size: 1rem;
      margin-bottom: 3px;
    }
  
    .offer-section-box p {
      font-size: 0.75rem;
    }


    /* features card */

    .grid5 {
      grid-template-columns: repeat(2, 1fr);
    }

    .grid5 .box:nth-child(5) {
      grid-column: span 2; /* Make the last item span both columns */
      justify-self: center; /* Center the item horizontally */
      padding: 20px;
    }

    .featured-heading {
      margin-top: 30px;
    }
    .featured-heading h1 {
      font-size: 25px;
    }
  
    /* Featured card */
    .featured .box {
      padding: 20px;
    }
    .featured img {
      width: 50px;
      height: 50px;
    }


    /* slider */
    .slider-card-text {
      font-size: 25px;
      margin-left: 10px;
    }
  
    .slider-btn-homepage {
      margin-left: 0;
      /* justify-content: space-around; */
    }

    .explore-text{
      font-size: 1rem;
      font-weight: 400;
      
    }
    .slider-card-btn{
      margin-top: 5px;
    }


    /* why rentez */

    .whyrentez-section {
      gap: 20px;
    }
  
    .whyrentez-card {
      flex-direction: column;
      gap: 20px;
    }
  
    .whyrentez-card1 {
      width: 100%;
    }
  
    .whyrentez-card1 img {
      width: 80px;
      height: 80px;
    }
  
    .whyrentez-card1-text-heading {
      font-size: 16px;
    }
  
    .whyrentez-card1-text-paragraph {
      font-size: 13px;
    }


    /* rent home , land section */

    .rent-card-text,
  .rent-r-card-text {
    margin: 20px;
    padding: 10px;
    width: calc(100% - 40px);
  }

  .rent-card-text button,
  .rent-r-card-text button {
    margin-top: 20px;
    padding: 10px;
  }

  .rent-card-image img,
  .rent-land-container img {
    width: 100%;
    height: auto;
  }



    /* footer */
    .footer{
      padding: 0 0 ;
    }

    
  
    .company-logo img {
      height: 100px;
      width: auto;
    }
  
    .footer-icons-wrapper {
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
    }
  
    .footer-icons {
      margin-right: 10px;
    }
  
    .footer-sub-content {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-sub-content-left,
    .footer-sub-content-right {
      width: 100%;
      margin-bottom: 20px;
    }
  
    .footer-section {
      margin-bottom: 20px;
      text-align: center;
    }
  
    .footer-bottom {
      padding: 10px;
      font-size: 0.8rem;
    }
  
    .partition2 {
      display: none;
    }

    


    /* profile page */

    .profile-card {
      padding: 10px;
    }
  
    .profile-info-container {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }
  
    .profile-info-container img {
      width: 60px;
    }
  
    .profile-details {
      flex-direction: column;
      gap: 5px;
    }
  
    .profile-details p {
      margin: 0;
      font-size: 14px;
    }
  
    .profile-section {
      gap: 20px;
    }
  
    .details-container {
      padding: 10px;
      gap: 10px;
    }
  
    .personal-details {
      /* flex-direction: column; */
      gap: 10px;
    }
  
    /* .detail {
      flex-basis: 100%;
    } */
  
    .label {
      font-size: 12px;
    }
  
    .value {
      font-size: 14px;
    }
  
    .profile-line {
      width: 100%;
    }


    /* settings page */

    .edit-profile-picture img {
      width: 70px;
      height: 70px;
    }
  
    .edit-profile-picture p {
      font-size: 12px;
    }
  
    .edit-profile-picture input[type="file"] {
      display: none;
    }
  
    .edit-profile-detail .profile-edit-button,
    .edit-profile-detail .special-btn {
      padding: 8px 12px;
      font-size: 14px;
    }
  
    .edit-profile-details {
      flex-direction: column;
      gap: 10px;
    }
  
    .edit-profile-details-column {
      margin-right: 0;
    }
  
    .edit-profile-detail-buttons {
      flex-direction: column;
      gap: 10px;
    }
  
    .my-form {
      padding: 6px;
      gap: 4px;
    }
  
    .my-form h2 {
      font-size: 1rem;
    }
  
    .form-style {
      width: 100%;
      padding: 6px;
      font-size: 14px;
    }
  
    .update-btn,
    .cancel-btn {
      padding: 6px 10px;
      font-size: 14px;
    }
  
    .delete-account-container {
      padding: 16px;
      gap: 16px;
    }
  
    .delete-account-icon {
      height: 30px;
      width: 40px;
    }
  
    .delete-account-icon svg {
      font-size: 1.25rem;
    }
  
    .delete-account-title {
      font-size: 1rem;
    }
  
    .delete-account-description {
      width: 100%;
    }
  
    .delete-account-button {
      font-size: 14px;
      padding: 8px;
    }

    /* update password in settings page*/

  

    .update-pass-input-field{
      /* gap: 5px; */
      display: flex;
      flex-direction: column;
    }

    .my-form-inner {
      gap: 0.5rem;
    }
  
    .flex-col-lg-row {
      flex-direction: column;
    }
  
    .form-input-group {
      width: 100%;
      margin-right: 0;
    }
  
    .label-style {
      font-size: 15px;
    }
  
    .form-style {
      padding: 8px;
      font-size: 14px;
    }
  
    .show-password-icon {
      top: 34px;
    }
  
    .text-warning {
      font-size: 12px;
    }
  
    .btn-group {
      margin-right: 0;
      flex-direction: column;
      gap: 10px;
    }
  
    .cancel-btn {
      padding: 8px;
      font-size: 14px;
    }
  
    #update-btn {
      display: flex;
      justify-content: center;
      padding: 8px 12px;
      font-size: 14px;
    }

    .icon-btn {
      justify-content: center;
    }

    /* filter  */

    .filter {
      
      padding: 10px 50px 10px;
    }
  
    .filter-form-bottom input {
      width: 100%;
    }
  
    .filter-price {
      flex-direction: column;
      gap: 10px;
    }
  
    .filter-button {
      flex-direction: column;
      gap: 10px;
      padding: 10px 0px;
    }
  
    .clear-filter-btn,
    .search-filter-btn {
      width: 100%;
    }


    /* property detail page  */

    .property-details-section {
      padding: 10px;
      gap: 10px;
    }
  
    .property-details-section-left,
    .property-details-section-right {
      width: 100%;
      gap: 10px;
    }

    .property-details-heading h1 {
      font-size: 2rem;
      color: var(--accent-color);
    }
  
    .property-details {
      padding: 10px;
      font-size: small;
    }
  
    .property-details-section-right {
      padding: 10px;
    }
  
    .seller-details {
      padding: 10px;
    }

    .seller-info{
      flex-direction: column;
      gap: 20px;
      align-items: center;
      justify-content: center;
    }

    
    
    .seller-detail-right {
      display: flex;
      flex-direction: column;
      gap: 10px;
      text-align: center; /* Center text within the right column */
    }
  
    .seller-detail-left {
      width: 100px;
      height: 100px;
    }
  
    .seller-detail-left img {
      width: 100px;
      height: 100px;
      border-radius: 50px;
    }

    .seller-detail-right p{
      font-size: medium;
    }
  
    .special-btn {
      padding: 8px 16px;
      font-size: 12px;
    }

    .slider-item{
      height: 220px;
    }
  
    .property-img-slider {
      margin: 20px 0;
    }
  
    .property-img-slider .slick-slide img {
      width: 100%;
      height: auto;
    }

    .property-details-section-right form {
      display: flex;
      flex-direction: column;
      align-items: center; /* Center items horizontally */
      gap: 15px;
      width: 100%;
      text-align: center; /* Center text within inputs */
    }



    /* about us page */

    .header {
      font-size: 1.5rem;
      width: 90%;
    }
  
    .subheader {
      font-size: 0.875rem;
      width: 100%;
    }
  
    .image-grid {
      flex-direction: column;
      height: auto;
    }
  
    .founding-story,
    .vision,
    .mission {
      width: 100%;
      padding: 10px;
    }
  
    .vision {
      width: 100%;
    }
  
    .flex-container {
      flex-direction: column;
      gap: 1rem;
      margin-top: 2rem;
    }
  
    .footer-section {
      margin-top: 3rem;
    }
  
    .stats-container {
      width: 100%;
      padding: 0 10px;
    }
  
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .contact-form {
      margin-top: 2rem;
    }
  
    .form-input,
    .form-select {
      width: 100%;
    }
  
    .submit-button {
      padding: 0.5rem 1rem;
      font-size: 0.875rem;
    }

    .founder-image img{
      height: 300px;
      width: 350px;
    }



    /* plans */

    .pricing-title {
      font-size: 1.8rem;
    }
    .pricing-description {
      font-size: 15px;
      margin: 0;
      width: 100%;
      max-width: none;
      margin-top: 1rem;
    }
    .pricing-grid{
      width: 100%;
      align-items: center;
      justify-content: center;
    }
    .pricing-package{
      max-width: 300px;
    }
    .pricing-package-name {
      font-size: 1.8rem;
    }
    .pricing-package-price {
      font-size: 2rem;
    }
    .pricing-package-description{
      font-size: 15px;
    }
    .feature svg {
      height: 20px;
      width: 20px;
    }
    .feature-text{
      font-size: 15px;
    }



    /* create listing */
    .create-listing-wrapper {
      width: 100%;
      padding: 20px;
    }
  
    .create-listing-wrapper h1 {
      font-size: 1.5rem;
      padding: 10px 0;
    }
  
    .create-listing-data label {
      font-size: medium;
      gap: 5px;
    }
  
    .create-listing-data label input,
    textarea,
    select {
      font-size: medium;
      padding: 10px 0;
      border-radius: 10px;
    }
    
  
}